body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
  margin: 10px;
  width: 100%;
  min-height: 95vh;
  background-color: aliceblue;
}

.headerDiv {
  display: table;
  width: 98%;
  height: 50px;
  background-color: rgba(220, 50, 255, 0.75);
  text-align: center;
  vertical-align: middle !important;
  margin-left:10px;
  margin-top:10px;
  margin-right:10px;
  margin-bottom:1px;
}

.headerBoard {
  float: right;
  width: calc(98% - 100px);
  height: 50px;
  margin: auto;
  text-align: left;
  vertical-align: middle;
}

.headerAd {
  width: 97%;
  height: 15px;
  margin-top: 5px;
  margin-right: 1px;
  margin-left: 0px;
  padding-left: 0px;
  /*border: 1px solid gray;*/
}

.headerTitle {
  width: 97%;
  height: 15px;
  margin-right: 1px;
  margin-left: 0px;
  padding-left: 0px;
  /*border: 1px solid gray;*/
  vertical-align: middle;
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logoImage {
  float: left;
  height: 50px;
  width: 50;
}

.welcomeMessage {
  margin-left: 25px;
  width: 100%;
  font-weight: 600;
  font-size: 14pt;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navBar {
  width: 98%;
  margin-left:10px;
  margin-right:10px;
  overflow: auto;
  white-space: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-overflow: clip;
}

.navBarButton {
  border-radius: 5px;
  white-space: nowrap;
  background-color: rgb(230, 245, 245);
  height: 20px;
  width: 100px;
}

.navbarDropdown {
  display: inline-block;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  text-overflow: clip;
}


.dropdownTitleWrapper {
  display: inline-block;
  width: 100px;
  height: 25px;
  border: 1px solid black;
  background-color: rgb(230, 245, 245);
  border-radius: 4px;
}

.dropdownTitle {
  display: inline-block;
  margin-left: 5px;
  white-space: normal;
  height: 100%;
  width: 80%;
  font-size: 14px;
  vertical-align: middle;
}

.dropdownTitleSmall {
  display: inline-block;
  margin-left: 5px;
  white-space: normal;
  height: 100%;
  width: 80%;
  font-size: 13px;
  line-height: 12px;
  vertical-align: middle;
}


.dropdownTitleWrapper:hover {
  background-color: rgb(98, 174, 174);
}

.dropdownButton {
  border: 1px solid gray;
  text-align: center;
  min-width: 150px;
  height: 25px;
  background-color: rgb(130, 213, 213);
  z-index: 1;
}

.dropdownButton:hover {
  background-color: rgb(98, 174, 174);
}

.footerDiv {
  display: table;
  padding: 10px 0;
  height: 20px;
  background: #6f7d94 none repeat scroll 0%;
  vertical-align: middle;
  position: fixed;
  bottom: 0px;
  width: 98%;
  clear: both;
}

.footerParagraph {
  display: table-cell;
  padding-left: 20px;
}

.footerEmail {
  color: rgba(50, 12, 58, 0.75);
  font-weight: bold;
  font-style: italic;
  font-size: 12pt;
  margin: 5px;
}

.blogContent {
  margin-top:5px;
  width: calc(98vw + 7px);
  text-align: left;
}

.sideBar {
  margin-left:10px;  
  text-align: left;
  margin-right: 1px;
  padding-right: 5px;
  float: left;
  width: 125px;
  min-height: 95vh;
  background: linear-gradient(to right, aliceblue 85%, #eaeaf4 100%);
}

.sideBarTopic{
  width:100%;
  background-color: white;
  overflow-x: auto;
  text-align: center;
  font-size: 16pt;
  font-weight: bold;
}

.blogDiv {
  text-align: left;
  margin-left: 1px;
  margin-bottom: 30px;
  float: left;
  width: calc(98vw - 150px);
  min-height: 95vh;
  background-color: white;
}

.blogAdDiv {
  text-align: left;
  margin-bottom: 30px;
  border-left: 1px solid gray;
  float: right;
  width: calc(25vw);
  min-height: 95vh;
  background-color: white;
}

.topicHeaderWrapper {
  width: 98%;
}

.topicHeader {
  margin-left: 75px;
  text-decoration: underline;
  font-style: oblique;
}

.topicWrapper {
  margin: 50px
}

.myParagraph {
  font-family: 'Arial';
  line-height: 20px;
}

.linkStyleSelected {  
  width: 125px;
  border: 2px solid rgb(45, 91, 91);
  min-height: 50px;  
  margin-top: 10px;
  background-color: rgb(98, 174, 174);
  text-align: center;
  margin: auto;
}
.linkStyleUnselected {
  width: 125px;
  border-bottom: 1px solid gray;
  min-height: 50px;
  background-color: rgb(230, 245, 245);  
  margin-top: 10px;
  text-align: center;
  margin: auto;
}
.linkStyleSelected:hover{
  background-color: rgb(98, 174, 174);
}
.linkStyleUnselected:hover{
  background-color: rgb(98, 174, 174);
}
.sidebarTopicInner{
  display: table-cell;
  width:100%;
  margin-top:10px;
}

